footer {
    color: white;
    background-color: #001A4E; 
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto; 
  }
header {
    background-color: #001A4E;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}
.hr-dark {
    border-color: #555; /* Cor escura para a linha */
}

.questao {
    width: 100%; /* Faz a div ocupar toda a largura */
}
h6 {
    color: #212529; /* Cor padrão de texto */
}





