/* corpo da página*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: branco;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}




/* cabeçalho */

header {
  background-color: #001A4E;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
}



/* navegadores da página */





/* main */

main {
  color: whitesmoke;
  margin: 0 auto;
}



/* Ajustando o estilo da imagem e nome no header */
.perfil-header {
  display: flex;
  align-items: center;
}

.perfil-header span {
  color: #ffffff;
  margin-right: 10px;
  font-size: 16px;
}
.perfil-header p {
  color: #ffffff;
  margin-right: 10px;
  font-size: 16px;
}

.perfil-header img {
  border: #f0f0f0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}


/* cabeçalho de edição com nome, foto, botão de editar e data do usuario no site */
.container-opcao {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.perfil {
  background-color: #001A4E;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  padding: 10px;
}
.perfil img {
  width: 100px;
  height: 100px;
  position: relative;
  border: 3px solid #ffffff;
  border-radius: 50%; 
  margin-left: 30px; 
}  
.perfil p {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  text-align: center;
  flex: 1;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  flex-direction: column;
  margin-left: 50px; 
} 
.usuario-nome-main {
  margin-bottom: 2px; 
}
.data-criacao {
  color: #999999; 
  font-size: 11px; 
  margin-top: 0; 
}

