
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .header-content .search-container {
    display: flex;
    align-items: center;
  }
  
  .header-content .search-container input {
    width: 250px;
    margin-right: 15px;
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .header-content .search-container i {
    font-size: 1.5rem;
  }
  
  .header-content .title-container {
    display: flex;
    align-items: center;
  }
  
  .header-content .title-container h2 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .card-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
  }
  
  .card-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    border-radius: 10px;
    overflow: hidden;
    background-color: #f1f1f1; 
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 250px; 
  }
  
  .card .icon-part {
    background-color: #001A4E;
    padding: 15px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .card .icon-part i {
    color: #fff;
    font-size: 2.5rem;
  }
  
  .card .text-part {
    padding: 20px;
    flex-grow: 1; 
  }
  
  .card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
  }
  
  .card .card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px; 
  }
  @media (max-width: 768px) {
    .header-content {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .header-content .search-container input {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .sort-icon {
    cursor: pointer; 
    display: inline-block;  
    padding: 10px;  
    transition: transform 0.2s ease-in-out;  
  }
  
  .sort-icon:hover {
    transform: scale(1.2);  
  }
  
  .sort-icon i {
    font-size: 20px;  
    color: #FFC100;  
  }
  .voltar-container {
    margin-top: 20px;  
  }
  