body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: branco;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

header {
  background-color: #001A4E;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
}

main {
  color: whitesmoke;
  margin: 0 auto;
}

.perfil-header {
  display: flex;
  align-items: center;
}

.perfil-header span {
  color: #ffffff;
  margin-right: 10px;
  font-size: 16px;
}

.perfil-header p {
  color: #ffffff;
  margin-right: 10px;
  font-size: 16px;
}

.perfil-header img {
  border: #f0f0f0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.container-opcao {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.perfil {
  background-color: #001A4E;
  display: flex;
  align-items: center;
  width: 610px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
}

.perfil img {
  width: 100px;
  height: 100px;
  position: relative;
  border: 3px solid #ffffff;
  border-radius: 50%; 
  margin-left: 30px; 
}

.perfil p {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  text-align: center;
  flex: 1;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  flex-direction: column;
  margin-left: 50px; 
}

.usuario-nome-main {
  margin-bottom: 2px; 
}

.data-criacao {
  color: #999999; 
  font-size: 11px; 
  margin-top: 0; 
}

.custom-link {
  text-decoration: none;
  color: #001f3f;
  margin-left: 10px;
  display: inline-flex; 
  align-items: center;
  transition: color 0.3s; 
}

.custom-link:hover {
  color: #001f3f;
  background: none; 
}

.custom-link span {
  margin-left: 10px; 
}

.voltar-container {
  margin-top: 20px; 
  margin-bottom: 20px; 
}

footer {
  background-color: #001A4E;
  padding: 2px;
  text-align: center;
  color: white;
}

footer p {
  margin-top: 15px;
}  

table {
  width: 100%; 
  border-collapse: collapse;
  margin: 30px auto; 
  font-size: 18px; 
}

th, td {
  color: #000000; 
  border: 1px solid #001A4E;
  padding: 12px; 
  text-align: center;
}

th {
  background-color: #001A4E; 
  color: #ffffff; 
}

td {
  background-color: #f9f9f9; 
}

h2 {
  font-size: 24px; 
  margin-bottom: 20px; 
}


.card {
  flex: 1; /* Faz os cards se expandirem igualmente */
  margin: 10px; /* Espaçamento entre os cards */
  border-radius: 15px; /* Bordas arredondadas */
  transition: transform 0.3s, box-shadow 0.3s; /* Transição suave para efeitos de hover */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
  overflow: hidden; /* Oculta conteúdo que ultrapassa os limites do card */
  height: 150px; /* Altura fixa dos cards */
}

.card:hover {
  transform: scale(1.03); /* Aumenta levemente o card ao passar o mouse */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* Aumenta a sombra no hover */
}

.card-header {
  font-size: 1.5rem; /* Tamanho da fonte do cabeçalho */
  font-weight: bold; /* Negrito */
  text-align: center; /* Centraliza o texto */
  color: white; /* Cor do texto */
  padding: 15px; /* Padding para aumentar o espaço interno */
}
h2{
  color: #000000;
}
.card-body {
  text-align: center; /* Centraliza o texto no corpo do card */
  padding: 10px; /* Aumenta o espaço interno do corpo do card */
  background-color: transparent; /* Mantém a cor de fundo do card */
}

.card-title {
  font-size: 2rem; /* Tamanho da fonte do título */
  color: white; /* Cor do texto */
  margin: 0; /* Remove margens do título */
}
