
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

header {
    background-color: #001A4E;
    padding: 10px;
    color: white;
    
  }
  .perfil-header p,
.perfil-header #usuario-nome {
  color: white; 
}#avatar-imagem {
    border-radius: 50%;
    object-fit: cover; 
  }
