* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
header {
  background-color: #001A4E;
  padding: 10px;
  color: white;
}

.perfil-header p,
.perfil-header #usuario-nome {
  color: white; /* Garantindo que o texto do perfil também fique visível */
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que ocupe a altura total */
}

main.container {
  flex-grow: 1; /* Faz o conteúdo crescer para ocupar o espaço restante */
  margin-top: 20px;
}

footer {
  background-color: #001A4E;
  color: white;
  padding: 10px;
  text-align: center;
}
#avatar-imagem {
  border-radius: 50%;
  object-fit: cover; /* Garante que a imagem se ajuste corretamente dentro do círculo */
}

.container {
  margin-top: 20px;
}

.card {
  cursor: pointer;
  transition: transform 0.3s ease;
  height: 150px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  color: #001A4E;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
}

.card:hover {
  transform: scale(1.05);
}

.icon-part {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

.text-part {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #001A4E;
}

.desempenho-card .icon-part {
  background-color: #2a9d8f;
}

.conteudos-card .icon-part {
  background-color: #264653;
}

.tarefas-card .icon-part {
  background-color: #e9c46a;
}

.missoes-card .icon-part {
  background-color: #f4a261;
}

.configuracoes-card .icon-part {
  background-color: #e76f51;
}

.sair-card .icon-part {
  background-color: #d62828;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  margin-top: 5px;
}

