@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.texto-branco {
color: rgb(255, 255, 255);
}

body {
font-family: "Lato", sans-serif;
margin: 0;
overflow-x: hidden;
background-color: #011846; 
}

header {
    background-color: #011846;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #ffffff;
    margin: 5px;
}

nav {
    display: flex;
}

.nav-button {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #ccc;
}


.login-caixa {
width: 100vw;
height: 100vh;
background-color: #011846;
display: flex;
justify-content: center;
align-items: center;
}

.esquerda {
margin-left: -5vw;
width: 50vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.esquerda > h1 {
font-size: 3vw;
color: #77ffc0;
}

.esquerda-imagem {
width: 25vw;
}

.direita {
width: 50vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.card-login {
background: rgba(3, 103, 166, 0.35);
width: 60%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 30px 25px;
border-radius: 20px;
box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
font-family: "Lato", sans-serif;
color: #ffffff;
font-weight: 800;
margin: 0;
}

form {
width: 100%;
box-sizing: border-box;
}


.campo-il {
    position: relative;
    margin-bottom: 20px;
}


.campo-il input {
    width: 100%;
    padding: 15px;
    padding-right: 40px; /* Ajusta o padding para acomodar o SVG */
    box-sizing: border-box;
}

.campo-il svg {
    position: absolute;
    right: 15px; /* Ajusta a distância do SVG do lado direito */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente o SVG */
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: #ffffff; /* Cor do SVG */
    line-height: 0; /* Remove a altura da linha para evitar deslocamento */
}


.campo-il > input {
width: 100%;
border: none;
border-radius: 10px;
padding: 15px;
background: rgba(217, 217, 217, 0.2);
color: white;
font-size: 12pt;
box-shadow: 0px 10px 40px #00000056;
outline: none;
box-sizing: border-box;
}

.campo-il > label {
color: white;
margin-bottom: 10px;
}

.campo-il > input::placeholder {
color: white;
}

.btn-login {
width: 100%;
padding: 16px 0px;
margin-top: 20px;
border: none;
border-radius: 8px;
outline: none;
text-transform: uppercase;
font-weight: 800;
letter-spacing: 3px;
color: #ffffff;
background-color: #359830;
cursor: pointer;
}

.btn-login:hover {
transition: 0.3s;
background-color: #048042;
}

.campo-il {
    position: relative;
    margin-bottom: 20px;
}

.campo-il input {
    width: 100%;
    padding: 15px;
    padding-right: 40px; 
    box-sizing: border-box;
}

.campo-il svg {
    position: absolute;
    right: 15px; 
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: #ffffff; 
}

/* Popup */
.popup {
    visibility: hidden;
    min-width: 300px;
    background-color: #4CAF50; /* Verde para sucesso */
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
}

.popup.error {
    background-color: #f44336; /* Vermelho para erro */
}

.popup.show {
    visibility: visible;
    animation: fadeout 0.5s ease-in, fadein 0.5s ease-out;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {opacity: 1;} 
    to {opacity: 0;}
}
