body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
  
main p {
    font-size: 16px;
    color: #555; 
    margin-top: 8px;
}
  
header {
    background-color: #001A4E;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
header img {
    height: 50px;
}
  
.conteudo-cabecalho h1 {
    margin: 0;
    color: #ffcd38;
}
.container {
    max-width: 1200px;  /* Limita a largura do contêiner principal */
    margin: 0 auto;     /* Centraliza o contêiner na tela */
}
.centralizado {
    display: flex;                  /* Ativa o flexbox */
    flex-direction: column;         /* Alinha os itens em coluna */
    align-items: center;           /* Centraliza horizontalmente */
    margin: 20px auto;            /* Margens superior e inferior */
    max-width: 800px;              /* Limita a largura do contêiner */
}

  
nav ul {
    list-style-type: none;
    padding: 0;
}
  
nav ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: left; 
}
  
nav ul li:hover {
    transition: 0.5s;
    background-color: #b6b6b6ea;
}
  
nav ul li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
  
nav ul li a:hover {
    color: white;
}
  
nav ul li i {
    font-size: 24px; 
    margin-right: 10px; 
}
  
.custom-link:hover {
    color: #001f3f;
    background: none; 
}
  
.custom-link span {
    margin-left: 10px; 
}
  
.voltar-container {
    margin-top: 20px; 
    margin-bottom: 20px; 
}
  
main {
    color: rgb(0, 0, 0);
    margin: 0 auto;
}
  
.perfil-header {
    display: flex;
    align-items: center;
}
  
.perfil-header span {
    color: #ffffff;
    margin-right: 10px;
    font-size: 16px;
}
  
.perfil-header img {
    border: #f0f0f0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
  
footer {
    background-color: #001A4E;
    padding: 2px;
    text-align: center;
    color: white;
}
  
footer p {
    margin-top: 15px;
}
  
.top-ranking {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 20px 0;
}

.rank-item {
    position: relative;
    text-align: center;
    margin: 0 10px;
}

.rank-item:nth-child(1) {
    order: 1;
    flex-grow: 2;
}

.rank-item:nth-child(2) {
    order: 0;
    flex-grow: 1;
}

.rank-item:nth-child(3) {
    order: 2;
    flex-grow: 1;
}

.rank-bar {
    display: flex; /* Ativa o flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100%;
    height: 80px; /* Altura da barra (ajuste conforme necessário) */
    margin: 10px 0; /* Espaçamento acima e abaixo da barra */
    border-radius: 5px; /* Bordas arredondadas */
    color: white; /* Cor do texto */
    font-weight: bold; /* Texto em negrito */
    text-align: center; /* Centraliza o texto */
}


.rank-item img {
    border-radius: 50%;
    width: 220px; 
    height: 220px; 
}
.rank-number {
    font-size: 50px; /* Altere para o tamanho desejado */
    font-weight: bold; /* Para deixar o número em negrito */
    display: block; /* Para que o número ocupe uma linha inteira se necessário */
    text-align: center; /* Centraliza o texto */
}
.table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #dee2e6;
}

.table th {
    background-color: #001A4E; /* Cabeçalho com cor #001A4E */
    color: white;
}

.table th:nth-child(1) {
    width: 10%;
}

.table th:nth-child(3) {
    width: 15%;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #e9ecef;
}

.table td {
    vertical-align: middle;
}

/* Cores destacadas para os três primeiros lugares */
.gold-row {
    color: #000000; /* Texto em preto para contraste */
    font-weight: bold;
}

.silver-row {
    color: #000000;
    font-weight: bold;
}

.bronze-row {
    color: #000000;
    font-weight: bold;
}
/* Destaque a linha do usuário logado */
.highlight-row {
    background-color: yellow; /* Altere a cor para a que preferir */
    font-weight: bold;
}