body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fa;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #001A4E;
    padding: 10px;
    color: white;
  }
  .header-conteudo {
    display: flex;
    align-items: center;  
    gap: 15px;  
    padding: 10px;
  }
  
  .icon-voltar {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0; 
  }
  
  .perfil-header p,
  .perfil-header #usuario-nome {
    color: white;
  }
  

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main.container {
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 30px;
}

footer {
    background-color: #001A4E;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

.container {
    margin: 30px auto;
    max-width: 1200px;
    padding: 0 15px;
}

.voltar-container {
    margin-bottom: 20px;
}

.voltar-container a {
    text-decoration: none;
    color: #001A4E;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.voltar-container a:hover {
    color: #001A4E;
}

.top-ranking {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.rank-item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    flex: 1;
    margin-right: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha conteúdo ao centro */
    justify-content: center; /* Centraliza conteúdo */
}

.rank-item img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.rank-number {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 15px;
    left: 15px;
}

.rank-bar {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.rank-1 {
    background-color: #FFD700;
}

.rank-2 {
    background-color: #C0C0C0;
}

.rank-3 {
    background-color: #CD7F32;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 15px;
    text-align: center;
}

table th {
    background-color: #f1f1f1;
    font-weight: 500;
}

.highlight-row {
    background-color: #e6f7ff;
}

.gold-row {
    background-color: #fff6e5;
}

.silver-row {
    background-color: #f1f1f1;
}

.bronze-row {
    background-color: #f4f0e3;
}

.modal-body ul {
    padding-left: 20px;
}

/* Estilos para os ícones de medalha */
.fa-medal {
    font-size: 40px; /* Ajusta o tamanho do ícone */
    position: absolute; /* Posiciona os ícones de medalha */
    top: 10px; /* Ajusta a altura do ícone */
    right: 10px; /* Alinha à direita */
}

.gold-medal {
    color: gold; /* Cor dourada para a medalha de ouro */
}

.silver-medal {
    color: silver; /* Cor prata para a medalha de prata */
}

.bronze-medal {
    color: #cd7f32; /* Cor bronze para a medalha de bronze */
}

















.rank-item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    flex: 1;
    margin: 0 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid transparent; /* Borda transparente por padrão */
}

.rank-1 {
    border-color: #FFD700; /* Borda dourada */
}

.rank-2 {
    border-color: #C0C0C0; /* Borda prateada */
}

.rank-3 {
    border-color: #CD7F32; /* Borda bronze */
}

.rank-number {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 15px;
    left: 15px;
}

.rank-item.rank-1 .rank-number {
    color: #FFD700; /* Número dourado para o primeiro lugar */
}

.rank-item.rank-2 .rank-number {
    color: #C0C0C0; /* Número prateado para o segundo lugar */
}

.rank-item.rank-3 .rank-number {
    color: #CD7F32; /* Número bronze para o terceiro lugar */
}


h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex; /* Utiliza flexbox para alinhar o ícone e o texto */
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    align-items: center; /* Alinha verticalmente o ícone e o texto */
}

.fa-trophy {
    font-size: 36px;
    color: #FFD700;
    margin-right: 10px; /* Espaço entre o ícone e o texto */
}

