body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #001A4E;
    padding: 10px;
    display: flex;
    align-items: center;
}

header img {
    height: 50px;
}

footer {
    background-color: #001A4E;
    padding: 2px;
    text-align: center;
    color: white;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    padding: 20px;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: none;
    width: 280px; /* Largura reduzida */
}

.register-form h2 {
    margin-bottom: 20px;
    text-align: left;
    color: #001A4E;
    font-size: 16px;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%; /* Ajusta a largura do input para 100% do container */
    padding: 10px;
    padding-right: 40px; /* Espaço para o ícone */
    border: 1px solid #ccc;
    border-radius: 16px;
    box-sizing: border-box;
}

.input-group i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #001A4E; /* Cor do ícone */
    cursor: pointer;
}

.register-button {
    width: 100%;
    background-color: #001A4E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 14px; /* Tamanho do texto reduzido */
}

.register-button:hover {
    background-color: #004080;
}

.google-login {
    width: 100%;
    background-color: white;
    color: #001A4E;
    border: 2px solid #001A4E;
    padding: 10px;
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; /* Tamanho do texto reduzido */
}

.google-login i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    font-size: 18px; /* Tamanho do ícone */
}

.google-login:hover {
    background-color: #f0f0f0;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: #001A4E;
    font-size: 14px; /* Tamanho do texto reduzido */
}

.login-link a:hover {
    text-decoration: underline;
}
.password-requirements {
    margin-top: 10px;
    font-size: 10px;
}

.password-requirements ul {
    list-style-type: none;
    padding: 0;
}

.password-requirements li {
    margin-bottom: 5px;
}

.password-requirements .valid {
    color: green;
}

.password-requirements .invalid {
    color: red;
}