/* Estilo global */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f6f9; /* Fundo claro para contraste */
}

header {
    background-color: #001A4E;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 50px;
}

footer {
    background-color: #001A4E;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 0.875rem;
}

/* Links personalizados */
.custom-link {
    color: #001A4E;
    text-decoration: none;
}


/* Estilos do botão "Responder" */
.btn-responder {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
}

.btn-responder:hover {
    background-color: #0056b3;
}

/* Container de perguntas */
.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    max-width: 960px;
    margin: 0 auto;
}

/* Estilo do card de questão */
.questao.card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Limita o tamanho máximo da questão */
}

.questao.card h5 {
    font-size: 1.25rem;
    margin-bottom: 15px;
    color: #333;
}

.questao.card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.questao.card ul li {
    margin: 8px 0;
}

.questao.card label {
    font-size: 1rem;
    color: #555;
    cursor: pointer;
}

/* Efeito de hover nas alternativas */
.question-container li:hover label {
    background-color: #e6f7ff;
    border-color: #001f3f;
}

/* Estilo para o botão "Ver Resolução" */
.btn-resolucao {
    background-color: #001f3f;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-resolucao:hover {
    background-color: #003366;
}

.btn-resolucao:focus {
    outline: none;
}

/* Estilos para o alerta de mensagem */
.alert-message {
    background-color: #e7f1ff;
    border: 1px solid #b3d4ff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.alert-message .card-body {
    padding: 1rem;
}

